@using MySensaiDk.Models
@model MySensaiDk.Models.EditUserPassword

@{
    ViewBag.Title = "Rediger kode";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2 class="fontColorBlack">Rediger Kode</h2>
            @Html.ValidationSummary(true)

            @Html.ValidationMessageFor(model => model.OldPassword)
            <div class="row">
                @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 fontColorBlack textRightAlign required" })
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 textLeftAlign">
                    @Html.EditorFor(model => model.OldPassword)
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.NewPassword)
                <div class="row">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 fontColorBlack textRightAlign required" })
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 textLeftAlign">
                        @Html.EditorFor(model => model.NewPassword)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                <div class="row">
                    @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 fontColorBlack textRightAlign required" })
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 textLeftAlign">
                        @Html.EditorFor(model => model.ConfirmNewPassword)
                    </div>
                </div>

            <a href='@Url.Action("EditUser", "User" )'>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 textRightAlign">
                    <input type="button" value="Fortryd" class="customBtn" />
                </div>
            </a>

            <div class="row col-lg-6 col-md-6 col-sm-12 col-xs-12 textLeftAlign">
                <input type="submit" value="Opdater Kode" class="customBtn" />
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0"></div>
    </div>
}


